/* CSS for the entire website */

html {
    font-family: 'Darker Grotesque';
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

/* Style the navigation bar */
.navbar {
    display: flex;
    background-color: black;
    padding: .5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0%;
}

.nav-logo {
    font-weight: 700;
    font-size: 1.5vw;
}

.navs {
    font-weight: 500;
}

/* Style the navigation bar buttons */
.navbar > li > a {
    display: block;
    color: white;
    background-color: black;
    padding: .5rem;
    text-decoration: none;
}

.navbar > li > a > img {
    height: auto;
    max-width: 50%;
}

/* Style the search bar */
.navbar input[type=text] {
    border-radius: 3vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

.similar_products{
    padding-left: 6rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
}


/* Style the home page */
.welcome {
    padding-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 12.5rem;
    background-image: url('../images/hero.png'); /*change image here */
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}

.welcome h1{
    font-family: 'Darker Grotesque';
    font-size: 6vw;
    font-weight: 700;
}

.welcome p{
    font-family: 'Darker Grotesque';
    font-size: 1.8vw;
    font-weight: 400;
}

.latest {
    width: 100%;
    height: 100vh;
    height: auto;
    text-align: center;
    background-image: url('../images/main.jpg'); /*change image here */
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    padding-top: 6rem;
    box-sizing: border-box; 
}

.latest h1 {
    font-family: 'Darker Grotesque';
    font-size: 6vw;
    font-weight: 700;
    color: white;
}

.latest p {
    font-family: 'Darker Grotesque';
    font-size: 1.8vw;
    font-weight: 400;
    color: white;
}

.default_button {
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: .5rem;
    border: none;
    background-color: rgba(217, 217, 217, 1);
    font-size: .8rem;
}

/*new*/
.default_button:hover{
    color: rgba(255, 255, 255,1);
    font-size: .8rem;
    background-color: rgba(0, 0, 0, 1);
    transition: 0.5s;
}


#shop_now_button {
    padding: 1vw 6vw 1vw 6vw;
    border-radius: 3rem;
    border: none;
    margin-top: 1rem;
    background-color: rgba(217, 217, 217, 1);
    font-family: 'Darker Grotesque';
    font-size: 2.3vw;
    font-weight: 700;
    cursor: pointer; 
}

#shop_now_button:hover {
    background-color: #000000; 
    color: white;
}

#explore_button {
    padding: 1vw 6vw 1vw 6vw;
    border-radius: 3rem;
    border: none;
    margin-top: 1rem;
    font-family: 'Darker Grotesque';
    color: white;
    font-size: 1.8vw;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #fff; 
    cursor: pointer; 
}

#explore_button:hover {
    background-color: #fff; 
    color: black;

}

.basiclayout {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.basiclayout h1 {
    font-size: 3.5vw;
    font-family: 'Darker Grotesque';
}

.basiclayout h2 {
    font-size: 2vw;
    font-family: 'Darker Grotesque';
    text-decoration: underline;
}

/* Style the categories on the home page */
.categories {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories > div {
    width: calc(32% - 10px); 
    margin-bottom: 20px;
}

.categories > div > a > img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    max-width: 100%;
}

.categories > div > a{
    text-decoration: none;
}

/* Media query for smaller screen sizes */
@media screen and (max-width: 768px) {
    .categories > div {
        width: calc(50% - 10px); /* Two columns on smaller screens */
    }
}

@media screen and (max-width: 500px) {
    .categories > div {
        width: calc(50% - 10px); /* Two columns on resolutions below 500px */
    }
}

@media screen and (max-width: 320px) {
    .categories > div {
        width: calc(100% - 10px); /* Single column on even smaller screens */
    }
}


.product_name {
    font-family: 'Darker Grotesque';
    font-weight: 400;
    font-style: normal;
    color:black;
}

.price {
    font-family: 'Darker Grotesque';
    font-weight: 700;
    font-style: normal;
    color:black;
}


/* Style the footer */
#desktop_footer {
    display: flex;
    flex-wrap: wrap; 
    padding: 2rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-family: 'Darker Grotesque';
}

#desktop_footer > h5 {
    font-weight: 300;
    
}

#desktop_footer > div {
    flex: 1; 
    padding: 0 10px; 
    box-sizing: border-box; 
}

#desktop_footer > div:nth-child(4) {
    flex: 1 1 100%; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
}

#desktop_footer > div:nth-child(4) h1 {
    margin: 0; 
}

#desktop_footer > div:nth-child(4) h2 {
    margin: 0; 
    font-weight: 300;
    font-size: 1vw;
    color: #999;
    align-self: center; 
}

#desktop_footer h5{
    font-size: 1.2vw;
}

#desktop_footer h1{
    font-size: 3vw;
}

#desktop_footer p {
    text-decoration: underline;
    text-decoration-thickness: 0.2px;
    text-underline-offset: 2px;
    font-size: 1vw;
}

#desktop_footer input[type="text"] {
    width: 200px; 
    padding: 8px; 
    border-bottom: 1px solid #ccc; 
    font-size: 16px; 
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    color: #fff;
}

#desktop_footer input[type="text"]::placeholder {
    color: #999; 
    font-weight: 400;
    font-size: 1.2vw;
    font-family: 'Darker Grotesque';
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: none;
}

@media (min-width: 601px) {
    .desktop-only {
        display: block; 
    }
}

/* Small devices (portrait phones) */
@media only screen and (max-width: 600px) {
    .mobile-only {
        display: block;
    }

    .welcome {
        padding-left: 40px;
        background-image: url('../images/mobile-hero.png') ;
    }

    .welcome h1{
        font-size: 12vw;
        max-width: 200px;
    }

    .welcome p {
        font-size: 5vw;
        font-weight: 200;
    }

    #shop_now_button {
        padding: 2.5vw 14vw 2.5vw 14vw;
        font-size: 7vw;

    }

    #toggle-menu {
        display: none;
    }
    
    /* Style the burger menu icon */
    .burger-menu {
        cursor: pointer;
        background-color: #000;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
    }
    
    .burger-menu h3 {
        color: #fff;
        margin: 0;
    }
    
    .burger-menu .bars {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .bar {
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 3px 0;
        transition: 0.4s;
    }
    
    /* Rotate bars to form an X shape when menu is active */
    #toggle-menu:checked ~ .burger-menu .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    
    #toggle-menu:checked ~ .burger-menu .bar:nth-child(2) {
        opacity: 0;
    }
    
    #toggle-menu:checked ~ .burger-menu .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    
    /* Show the navbar when menu is active */
    #toggle-menu:checked ~ .navbar {
        display: block;
    }
    
    /* Hide the navbar by default */
    .navbar {
        display: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    /* Media query for lower resolutions */
    @media (max-width: 600px) {
        .burger-menu {
            justify-content: flex-end; 
        }
    
        .burger-menu h3 {
            order: -1; 
            flex-grow: 1;
            padding-left: 10px; 
        }
    
        .bars {
            margin-left: auto; 
        }

        .navbar {
            padding-left: 14px;
        }

        .navbar img {
            width: 8vw;
            height: auto;
        }
    }

    
    /*Shopping cart page*/

    #shopping_cart h1{
        font-size: 6vw;
    }
  
    #cart_items img {
        width: 35vw;
        height: auto;
    }

    .prod_details p {
        font-size: 4vw;
    }

    .quantity_button {
        width: 0vw;
        height: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

   

    .checkout_button_container {
       align-content: center;

    }

    .checkout_buttons { 
        width: 12rem;
        height: 3rem;
        border-radius: .5rem;
        
        border: none;
        font-size: .9rem;
        margin-top: 1rem;
    }

    /*Information page*/

    .contact.column h1 {
        font-size: 4.5vw;
        padding-top: 15px;
        margin: 0;
        
    }

    .shipping_address h1{
        font-size: 4.5vw;
        padding-top: 25px;
        margin: 0;
    }

    /*Footer*/
    #mobile_footer {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: 200;
        font-family: 'Darker Grotesque';
    }


    #newsletter p{
        font-size: 3vw;
        margin-bottom: 5vw;
    }

    #newsletter input[type="text"] {
        width: 200px; 
        padding: 8px; 
        border-bottom: 1px solid #ccc; 
        font-size: 16px; 
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    #newsletter input[type="text"]::placeholder {
        color: #999; 
        font-weight: 400;
        font-size: 3vw;
        font-family: 'Darker Grotesque';
    }

    /*Payment page*/

    .payment_details {
        padding: 1rem; 
    }

    .card_details_two {
        flex-direction: column;
    }

    .card_details_two .card_details_one {
        width: 100%; 
        margin-bottom: 1rem; 
    }

    .card_details_one input[type="text"] {
        width: 100%; 
    }

} 

/* Style the product page*/
.product_page {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 6rem;
    padding-top: 4rem;
}

.product_page > img {
    width: 22rem;
    height: 15rem;
    border-radius: .5rem;
    max-width: 100%;
}

.product_page > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_page > div >  div > div > ul {
    padding-left: 1rem;
    font-weight: 300;
    font-size: 1rem;
}

.product_page > div >  div > div > ul >li {
    margin-bottom: 0.3rem;
}

.button_container {
    display: flex;
    align-self: flex-start; 
    margin-top: auto; 
}

/* Code adapted from https://www.w3schools.com/howto/howto_js_slideshow.asp */

    * {
        box-sizing: border-box;
    }

    /* Slideshow container */
    .carousel {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        margin: auto;
    }

    .carousel > div > img{
        width: 20rem;
        height: 18rem;
        border-radius: 20px;
        max-width: 100%;
    }

    .slideshow {
        display: none;
    }

    .slideshow:first-child {
        display: block;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .prev {
        left: 0;
        border-radius: 3px 0 0 3px;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }


/* Style the shopping cart page */
.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px ;
}

.checkout_processes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(116, 116, 116);
    margin: 20px; 
}

.checkout_process {
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 1rem;
    color: rgba(193, 193, 193, 1);
    text-align: center;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(193, 193, 193, 1);
    margin-bottom: 10px; 
    position: relative; 
}

.checkout_process_done{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 1rem;
    color: rgba(193, 193, 193, 1);
    text-align: center;
    /*-- code taken from https://www.geeksforgeeks.org/how-to-draw-a-checkmark-tick-using-css/ --*/
    background: rgb(138, 212, 58);
    border: 2px solid rgb(138, 212, 58);
    margin-bottom: 10px; 
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.check{
    height: 20px;
    width: 12px;
    border-bottom: 3px solid rgb(52, 100, 0);
    border-right: 3px solid rgb(52, 100, 0);
    transform: rotate(45deg);
    margin-top: 12px;
    margin-left: 16px;
}

.checkout::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: rgba(193, 193, 193, 1);
    width: calc((50px + 40px) * 5 - 40px); /* Adjust the width to span only behind the circles */
}


/* Style the shopping cart items */
.page_content{
    padding-left: 6rem;
    padding-bottom: 4rem;
}

.header_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: 1px solid;
    border-color: rgba(193, 193, 193, 1)
}

.header_item{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    font-family: 'Darker Grotesque';
}


.cart_items{
    background-color: rgba(230, 232, 230,1);
    padding-left: 6rem;
    padding-right: 4rem;
    padding-top: 2rem;
    flex-direction: column;
}

.cart_item{
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 3vw;
    font-family: 'Darker Grotesque';
}

.cart_item > img {
    width: 20rem;
    height: 15rem;
    border-radius: .5rem;
}

.prod_details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.details_name{
    flex: 1;
    font-weight: 800;
    margin: 0;
}

.details_price{
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
}

.cart_details_price{
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
    margin: 0;
}

.details_quantity{
    flex: 1;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

#total_subtotal {
    align-self: flex-start;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    border-color: rgba(193, 193, 193, 1);
    padding-top: 1rem;
    font-weight: 600;
    font-family: 'Darker Grotesque';
    font-size: 15px;
}

.quantity_controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    justify-content: center;
}

.quantity_button {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
}

.checkout_buttons{
    width: 12rem;
    height: 3rem;
    border-radius: .5rem;
    background-color: rgba(254, 222, 204, 1);
    border: none;
    font-size: .9rem;
    margin-top: 1rem;
}

.checkout_buttons_reverse{
    width: 12rem;
    height: 3rem;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
    font-size: .9rem;
    margin-top: 1rem;
}

.checkout_button_container{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: flex-end;
    padding-bottom: 110px;
}

.final_checkout_button{
    width: 12rem;
    height: 3rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: .9rem;
    margin-top: 1rem;
}

/* Style the information page */
.information_page{
    display: flex;
    flex-direction: column;
}

#information_page h1{
    color: #666666;
}

#shipping_address{
    display: flex;
    flex-direction: column;
}

.info{
    margin-top: .5rem;
    border: 1px solid;
    border-color:rgba(193, 193, 193, 1);
    padding: .7rem;
    border-radius: .5rem;
}

#information_page ::place {
    color: #B3B3B3;
    font-weight: 100;
}

input[type=text]{
    padding: .7rem;
    border: 1px solid;
    border-color: rgba(193, 193, 193, 1);
}

#shopping_cart {
    margin-top: 0;
}

#shopping_cart h1{
    color: #666666;
}

#cart_layout .basiclayout {
    padding-top: 0;
}

/* Style the shipping page */
.check_previous_info {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border: 1px solid;
    border-color: rgba(193, 193, 193, 1);
    border-radius: .5rem;
}

.check_previous_info p {
    font-weight: 600;
}

.first, .second{
    padding-left: 1rem;
    font-size: small;
}

.second{
    border-top: 1px solid;
    border-color: rgba(193, 193, 193, 1);
}

.previous_info_header{
    color: rgb(161, 161, 161, 1);
}

.previous_info{
    color: rgba(65, 65, 65, 1);
}

.shipping_method{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.shipping_method.column h1{
    color: #666666;
}

.shipping_method.column label{
    padding-left: 3vw;
    padding-bottom: 5vw;
}

.shipping_options{
    width: 100%;
    margin-top: .5rem;
}

.column{
    display: flex;
    flex-direction: column;
}

/* Style the payment page */
.discounts > .default_button{
    font-size: .8rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.payment_details{
    display: flex;
    flex-direction: column;
    padding: 1rem 15%;
}

.payment_details > p{
    justify-self: space-around;
}

.card_details_one{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card_details_two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_details_one, .card_details_two {
    width: 100%; 
}


.card_details_two .card_details_one {
    width: 48%; 
}

fieldset{
    border: none;
}

.catalogue{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.catalogue > div > a{   
    text-decoration: none;
    color: black;
}

.catalogue > div > a > img{
    width: 15rem;
    border-radius: 3vw;
    max-width: 100%;
}

/*Style the order confirmed page*/
.order_reciept {
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #F3FFEA;
}

.line-container {
    padding: 0 20px; 
}

.short-line {
    width: 55%; 
}


.order_summary {
    padding-left: 25%;
    padding-right: auto;
    padding-bottom: 10%;
}

.order_summary h2 {
    font-size: 1.7vw;
}

.order_summary img {
    width: 15%;
    height: auto;
    border-radius: 5%;
}

.order_placed {
    text-align: center;
    font-size: 1.2vw;
    font-weight: 700;
}

.order_placed h2{
    text-align: left;
    padding-left: 25%;
}

.checkout_process_done {
    display: inline-block; 
}

.image_and_text {
    display: flex;
}

.image_and_text p {
    margin: 0;
    padding-left: 4%;
    font-weight: 500;
    font-size: 1.2vw;
}

#order_summary_quantity {
    padding-left: 20%;
}

#order_summary_quantity_price {
    padding-left: 10%;
}

#order_summary_quantity_price p {
    font-weight: 800;
}


/*Style the footer*/
footer{
    display: flex;
    padding: 4rem;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-weight: 200;
}

footer > h5{
    font-weight: 300;
}

footer > div{
    padding-right: 10rem;
}



